.vs/BaiTapAsp/config/applicationhost.config
.vs/BaiTapAsp/v15/Server/sqlite3/storage.ide-shm
.vs/BaiTapAsp/v15/Server/sqlite3/storage.ide-wal
.vs/BaiTapAsp/v15/.suo
.vs/BaiTapAsp/v15/Server/sqlite3/db.lock
