.vs/BaiTapAsp/v15/Server/sqlite3/db.lock
.vs/BaiTapAsp/v15/Server/sqlite3/storage.ide
.vs/BaiTapAsp/v15/Server/sqlite3/storage.ide-shm
.vs/BaiTapAsp/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
.vs/BaiTapAsp/v15/.suo
BaiTapAsp/obj/Debug/BaiTapAsp.csproj.CoreCompileInputs.cache
BaiTapAsp/obj/Debug/BaiTapAsp.csprojAssemblyReference.cache
